/* font  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* // <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name */

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* cimmon styles  */
.display-flex{
  display: flex;
}

/* shared color  */

/* dark-gray */
.text-d-gray{
  color: #3A3A3A;
}
.text-gray{

}
:root{
  --text-d-gray:#3A3A3A;
  --text-gray:#6C6C6C;
  --text-light-gray:#949494;
}



.brand-title{
  font-size: 1.570rem;
  font-weight: 700;
}

.nav{
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-list{
  list-style: none;
  font-size: 1rem;
}
.nav-link{
  text-decoration: none;
  color: black;
  
}
.nav-lists{
  gap: 20px;  
}

.banner{
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.banner-title{
  font-size:3.3rem ;
  font-weight: 750;
  margin-bottom: 16px;
}
.banner-description{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 24px;

}
.btn-primary{
  color: white;
  background-color: rgb(222, 0, 111);
  border: none;
  border-radius: 40px;
  padding: 10px 24px ;


}
.banner-image >img {
  background-image: url("images/Circle design.svg");
}

/* logo section  */
.logo-container{
  max-width: 1050px;
  margin: 0 auto;
  padding: 40px 60px;
  justify-content: center;
  gap: 60px;
  box-shadow: 0px 0px 10px  rgb(236, 236, 236);
  align-items: center;
  margin-top:100px;
}

.logo{
  
}

/* populer colection  */

.collection-title{
  font-size: 1.8rem;
  color: var(--text-d-gray);
  text-align: center;
  
}
.cards{
  max-width:1050px ;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card{
  box-shadow: 0px 0px 20px rgb(230, 230, 230);
  padding:14px ;
  
}
.card-title{
  font-size: 1.8rem;
  font-weight: 600;
  
  margin-top: 15px;

}
.card-price{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -30px;
  margin-bottom: 10px;
}
.card-rating{
  gap: 8px;
  margin-bottom: 6px;
  

}
.rating-number{
  font-size: 0.9rem;
  color: var(--text-gray);
}

.card-description{
  font-size: 0.9rem;
  color: var(--text-light-gray);
  margin-top: -5px;


}